@charset "utf-8";
/* CSS Document */
.texto_derecha{
	float:left;
	margin-right:10px;
}

.separar{
	margin-top:20px;
}

.fondoh{
	background:#000;
	padding-top:10px;/*margen superior*/
	/*padding-botton: margen inferior*/
}

.fondom{
	padding-top: 10px;
	background: #D11B1E;

	
}

